<!DOCTYPE html>
<html lang="fr">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Se connecter</title>
	<style>
  		@media screen and (max-width: 1000px){
			.left{
				display: none;
			}
			.clear{
				flex-basis: 10%;
			}
		  }
  	</style>
</head>
<body>
	<div class="container">
		<div class="left">
			<a href="{% url 'home' %}"><img src="{% static 'img/arrow.png' %}" alt="BACK"></a>
			<h1>Flashcard</h1>
			<h2>Rejoins nous et révise<br>avec des cartes</h2>
		</div>
		<div class="clear"></div>
		<div class="form-bg">
			<h3>Se connecter</h3>
			<div class="blue-bar"></div>
			<form method="POST" class="form">
				{% csrf_token %}
				{{ form }}
				<div class="link">
					<a href="{% url 'register' %}">Créer un compte ?</a>
					<a href="{% url 'password_reset' %}">Mot de passe oublié ?</a><br>
				</div>
				<button type="submit" class="btn">Connexion</button>
			</form>
		</div>
	</div>
</body>
</html>