<!DOCTYPE html>
<html lang="fr">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mot de passe perdu</title>
	<style>
  		@media screen and (max-width: 1000px){
			.left{
				display: none;
			}
			.clear{
				flex-basis: 10%;
			}
		  }
  	</style>
</head>
<body>
	<div class="container">
		<div class="left">
			<a href="{% url 'home' %}"><img src="{% static 'img/arrow.png' %}" alt="BACK"></a>
			<h1>Flashcard</h1>
			<h2>Tu as perdu ton<br>mot de passe ?</h2>
		</div>
		<div class="clear"></div>
		<div class="form-bg">
			<h3>Mot de passe perdu ?</h3>
			<div class="blue-bar"></div>
			<p>Ton mot de passe a bien été modifié.</p>
			<a href="{% url 'login' %}" class='btn'>Se connecter</a>
		</div>
	</div>
</body>
</html>