/*MAIN CSS*/

body, html {
	padding:0px;
	margin:0px;
    height:100%;
    width:100%;
}

.global{
	display:flex;
}

 /*LEFT SIDE*/

.left{
	top: 0px;
	left: 0px;
	width: 720px;
	height: 1083px;
	background: #2C2A4A 0% 0% no-repeat padding-box;
	mix-blend-mode: darken;
	opacity: 1;
}

#title{
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	margin-top:116px;
	text-align: center;
	
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

#join_us{
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	margin-top:270px;
	text-align:center;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

 /*RIGHT SIDE*/

.right{
	background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

#account{
	
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	color:black;
	text-align: center;
	font-size:40px;
	letter-spacing: 0;
	margin-top:116px; 
	margin-left:370px;
}

#blue_square{
	background:#80DEFC;
	text-align: center;
	top: 199px;
	left: 1040px;
	width: 240px;
	height: 6px;
	margin-left:440px;
}

#prenom{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	letter-spacing: 0;
	color: #2C2A4A;
	text-transform: capitalize;
	opacity: 1;
	font-size:30px;
	margin-top:40px;
	margin-left:440px;
}

#mail{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	letter-spacing: 0;
	color: #2C2A4A;
	opacity: 1;
	font-size:30px;
	margin-top:50px;
	margin-left:440px;
	}

#password{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	letter-spacing: 0;
	color: #2C2A4A;
	text-transform: capitalize;
	opacity: 1;
	font-size:30px;
	margin-top:50px;
	margin-left:440px;
}

#password_confirm{
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0;
	color: #2C2A4A;
	text-transform: capitalize;
	opacity: 1;
	font-size:30px;
	margin-top:50px;
	margin-left:440px;
}

/*ITEM*/

.ghost{
	font-family:'Montserrat', sans-serif;
	font-style:bold;
	font-size :100%;
	margin-left: 440px;
	font-size: 20px;
	font-weight: bold;
	background-color: #DCDCDC;
	padding: 6px 8px;
	letter-spacing:0px;
	opacity: 1;
}

#myInput{
	border:none;
	background-color:#DCDCDC;
	text-transform: capitalize;
	height: 30px;
	width:100%;
}

#case{
	display:flex;
	flex-direction:row;
	display:flex;
	width:10px;
}

#item{
	height:20px;
  	width: 97%;
  	font-size: 15px;
  	padding: 3px 4px;
  	border:none;
	background-color: #DCDCDC;
	text-transform: capitalize;
  }

/*END_ITEM*/

#create_button{
	font-weight:bold;
	font-size:20px;
	font-family:'Montserrat', sans-serif;
	color:#FFFFFF;
	border:none;
	background: #2C2A4A 0% 0% no-repeat padding-box;
	opacity: 1;
	text-align: center;
	margin-left:64%;
	margin-top:100px;
	height:45px;
	width:213px 
}